.accordion {

}

.accordion__items {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.accordion__item {
    gap: 30px;
    max-width: 650px;
    background-color: #fff;
    border-radius: 6px;
}

@media screen and (max-width: 1024px) {
    .accordion__items {
        flex-wrap: wrap;
    }
    .accordion__item {
        max-width: 100%;
    }
}

.accordion__item-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.accordion__item-title-arrow {
    transition: all 0.3s ease;
}

.accordion__item-title-arrow.open {
    transform: rotate(135deg);
}

.accordion__item-collapse {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0, 1, 0, 1);
}

.accordion__item-collapse.open {
    height: auto;
    max-height: 9999px;
    transition: all 0.3s cubic-bezier(1, 0, 1, 0);
}

.accordion__item-text-content {
    padding: 10px 30px 20px 30px;
}

.accordion__item-subtitle {
    position: relative;
    padding-left: 13px;
    margin-bottom: 15px;
    font-weight: 600;
}

.accordion__item-subtitle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 10px;
    width: 6px;
    height: 6px;
    background-color: var(--accent);
    transform: translate(0, -50%);
}

.accordion__item-description {
    color: #A0A5AD;
}