.footer {
    padding: 50px 0;
    background-color: #111948;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #A0A5AD;
    margin-bottom: 30px;
}

@media screen and (max-width: 920px) {
    .footer__content {
        flex-direction: column;
        gap: 35px;
    }
}

.footer__socials {
    display: flex;
    gap: 15px;
}

.footer__box {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    color: #A0A5AD;
}

@media screen and (max-width: 389px) {
    .footer__box {
        flex-direction: column;
        text-align: center;
    }
}

.footer__privacy-policy {
    color: #A0A5AD;
}

.menu-footer {
    /* .menu-footer__list */
    /* .menu-footer__item */
    /* .menu-footer__link */
}

.menu-footer__list {
    display: flex;
    gap: 30px;
}

@media screen and (max-width: 586px) {
    .menu-footer__list {
        flex-direction: column;
        text-align: center;
    }
}

.menu-footer__link {
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.menu-footer__link {
    display: inline-block;
    line-height: 2;
}

.menu-footer__link::after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #fff;
    transition: width 0.4s ease-in-out;
}

.menu-footer__link:hover::after,
.menu-footer__link:focus::after {
    width: 100%;
}